# Dependencies
node_modules/
/.next/
/.sanity/

# Environment variables
.env*.local
.env

# Production builds
/.build/
/.output/
/dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Sanity
.sanity/
